@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* font-family:  */
  font-family: "Inter", sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}

.card-wrapper {
  background-color: hsl(0, 0%, 20%);
  border: hsla(84, 49%, 55%, 0.523) 2px solid;
  width: 320px;
  height: 580px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
  width: 90px;
  padding: 23px;
}

h1 {
  margin: 0;
  margin-top: 5px;
  font-size: 22px;
  font-weight: 700;
}

.country {
  margin: 0;
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
  color: hsl(81, 100%, 65%);
}
.bio {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* button {
  margin: 1px;
  width: 88%;
  height: 45px;
} */
.button-wrapper {
  width: 88%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  row-gap: 16px;
}

button {
  width: 100%;
  margin: 1px;
  height: 43px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  background-color: hsla(85, 6%, 38%, 0.864);
  border-color: hsla(84, 49%, 55%, 0.81);
  transition: 0.2s;
}
button:hover {
  background-color: hsla(83, 76%, 39%, 0.805);
  box-shadow: 0 0 10px 1px rgb(184, 255, 52);
  border: 1px rgba(255, 255, 255, 0.456) solid;
}
